* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightskyblue;
}

#top {
  background-color: white;
  margin: 15px 10px;
}

div {
  /* display: inline-block; */
  float: right;
  word-spacing: 10px;
}

h1, h2, h3, section {
  margin: 15px 0;
  text-align: center;
  font-family: 'Courier Prime', monospace;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 30px 0;
}

.offering-item {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

#landing, #register {
  height: 700px;
}

form {
  background-color: white;
  height: 300px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}

label, input {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 5px 0;
}

button {
  background-color: rgb(223, 17, 69);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}